<div class="fixed bottom-0 left-0 w-full bg-purple-50 shadow-lg flex justify-around items-center h-20 p-2 z-40">
  <button routerLink="/home" routerLinkActive="text-teal-600" class="flex flex-col items-center text-gray-500 hover:text-teal-600 focus:outline-none">
    <svg class="w-6 h-6 mb-1" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path d="M10 20v-6h4v6h5v-8h3L12 3 2 12h3v8z"></path>
    </svg>
    <span class="text-xs font-medium">Home</span>
  </button>
  <button routerLink="/prescriptions" routerLinkActive="text-teal-600" class="flex flex-col items-center text-gray-500 hover:text-teal-600 focus:outline-none">
    <i class="fa-solid fa-rectangle-list"></i>
    <span class="text-xs font-medium">Prescriptions</span>
  </button>
  <button routerLink="/settings" routerLinkActive="text-teal-600" class="flex flex-col items-center text-gray-500 hover:text-teal-600 focus:outline-none">
    <i class="fa-solid fa-gear"></i>
    <span class="text-xs font-medium">Settings</span>
  </button>
</div>